node_modules
src/pdf
test.js
.env
package-lock.json
yarn.lock
prisma/migrations
prisma/dev.db
src/pdf
src/templates/*
!src/templates/test
!src/templates/email.js
src/images/*
!src/images/test.jpg
yarn-error.log